# Copyright Contributors to the Open Cluster Management project

# Files
.build-harness
.build-harness-bootstrap
.vscode
OPENSOURCE.check
.DS_Store
kind_kubeconfig.yaml
.idea

# Folders
.build-docker
build-harness
build-harness-extensions

!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions 